.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
admin/application/config/database.php
application/config/database.php
cashonSoft/application/config/database.php
